<h2>Ajouter un nouveau Cocktail</h2>

<%= form_for(@cocktail, html: { multipart: true }) do |f| %>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
  <p>
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </p>
  <p><%= f.submit %></p>
<% end %>
